@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jomhuria&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
  font-weight: 1000;
}

.btn2 {
  padding-top: 190px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}





header {

/* background: url(stacked-waves-haikei.png) no-repeat;
    background-size: cover;
    background-position: center; */
   width: 100%;
  display: flex;
    justify-content: space-between;
  align-items: center;
padding-top: 20px; 
padding-bottom: 6px;
  color: black;
 
 

}

.nav a {
    text-decoration: none;
    padding-right: 100px;
color: rgb(0, 0, 0);



font-weight: bold;
}
.nav a:hover {
  transform: scale(1.5);
color: #f72f72;
}


.h1 {
    font-size: 30px;
}


.sec1 {
font-size: larger;
padding-top: 12px;
    width: 100%;
    min-height: 95vh;
    background: url(back2.png) no-repeat;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
  }
.sec1 h1{
  padding-top: 150px;
}
.arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .left-arrow {
      left: 10px;
    }

    .right-arrow {
      right: 10px;
    }

.sec01 {
padding-top: 12px;
    width: 100%;
    min-height: 150vh;
    height: 12rem;
    background: url(back1.png) no-repeat;
    background-size: cover;
    background-position: center;
}
 .card-container {
  height: 410px;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
    }

.card {
 margin-left: 30px;
 margin-right: 35px;
 width: 260px;
 height: 350px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
 flex: 1 0 auto;

}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
    cursor: pointer;

 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #008bf8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}




.sec2 {
width: 100%;
height: 12.5rem;
background-color: #897f86;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;

}
.sec3 {
  background-color: #6e696c;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}


 .button11 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button11:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button11:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button11::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.button11:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}




body {
    font-family: Arial, sans-serif;
    text-align: center;
}








.a {
text-decoration: none;

}

.Btn-Container {
  display: flex;
  width: 120px;
  height: 40px;
  background-color: #1d2129;
  border-radius: 40px;
  box-shadow: 0px 5px 10px #bebebe;
  align-items: center;
  border: none;
  cursor: pointer;
  margin-top: 100px;
}
.icon-Container {
  width: 45px;
  height: 45px;
  background-color: #f59aff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #1d2129;
}
.text {
  width: calc(170px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}
.icon-Container svg {
  transition-duration: 1.5s;
}
.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}

/*تاريخ الولادة*/
.calculator {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.input {
  font-size: 16px;
  padding: 8px;
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button2 {
  font-size: 16px;
  color: #fff;
  background-color: #d75ecb;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.button2:hover {
  background-color: #d59cc7;
}

.p {
  font-size: 18px;
  margin-top: 20px;
  color: #e939ef;
}


/*عمر الحمل*/
.container {
  margin-right: 180px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 90%;
    max-width: 320px;
}

.h2 {
    color: #0f000e;
}

.label2 {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

.input2 {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.button3 {
    background-color: #d359ba;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.button3:hover {
    background-color: #a15da2;
}

#resultt {
    margin-top: 20px;
    font-size: 18px;
    color: #e652c6;
}

   .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
                background-image: none !important;
            }

            @media screen and (max-height: 1024px) {
                .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
                    background-image: none !important;
                }
            }
@media (max-width: 768px) {
    .menu {
        flex-direction: column; 
    }
}

            @media screen and (max-height: 640px) {
                .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
                    background-image: none !important;
                }
            }
/*btn moveing*/
.button-container {
  display: flex;
  justify-content: center;
  margin: 20rem;
}
.right-arrow{
   -webkit-appearance: none;
  appearance: none;
  position: absolute;
  border-width: 0;
  padding: 0 8px;
  min-width: 2em;
  min-height: 2em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin-top: 150px;
  border-radius: 20px;
}
.left-arrow {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  border-width: 0;
  padding: 0 8px;
  min-width: 2em;
  min-height: 2em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin-top: 150px;
  border-radius: 20px;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 2px 8px;
  transform: translateY(0);
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 0.3s, border-radius 0.3s, background 10s;
}



.button-bottom {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  left: 4px;
  border-radius: 20px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  background-image: linear-gradient(145deg, #2575fc, #116ecb);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  transition: border-radius 0.2s, padding-top 0.2s;
}













